@inherits LayoutComponentBase
@inject ProtectedSessionStorage sessionStorage
@inject AppState appState
@inject NavigationManager Navman

<div class="page">
    <div class="sidebar"> 
        @if (Navman.Uri.Contains ("/S_Student"))
            {
            <NavMenuS_Student />
            }
        else if (Navman.Uri.Contains ("/T_SwitchBoard"))
            {
            <NavMenuT_SwitchBoard />
            }
        else if (Navman.Uri.Contains ("/Login"))
            {
            <NavMenuLogin />
            }
        else if (Navman.Uri.Contains ("/T_") )
            {
            <NavMenuT_Back2SwitchBoard />
            }
        else if (Navman.Uri.Contains ("/E_") )
            {
            <NavMenuT_Back2SwitchBoard />
            }
        else if (Navman.Uri.Contains ("/S_"))
            {
            <NavMenuS_Back2S_Student />
            }
        else
            {
            <NavMenuDefault />
            }
    </div>   
    <main>
        <div class="top-row px-4">
            @if (appState.UserLoginStatus == 1)
                {
                <a href="/Login">Logout</a>
                }
            else
                {
                <a href="https://msht.ir">msht.ir</a>
                }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
