<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">e<span style="color:indianred">x</span>aminer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/">
                <img src="icons/icoList2.png" alt="Login icon" style="width:30px; height:30px; margin-right:8px;" />
                msht.ir
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/msht/msht_00.html" Match="NavLinkMatch.All">
                <img src="icons/icoInfo_ot_1.png" alt="Login icon" style="width:30px; height:30px; margin-right:8px;" />
                About
            </NavLink>
        </div>
    </nav>
</div>

