<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">e<span style="color:indianred">x</span>aminer</a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="\ChangePassword" Match="NavLinkMatch.All">
                <img src="/img/icoKey1.png" alt="Login icon" style="width:30px; height:30px; margin-right:8px;" />
                ChangePass
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="\" Match="NavLinkMatch.All">
                <img src="/img/icoExit1.png" alt="Login icon" style="width:30px; height:30px; margin-right:8px;" />
                Logout
            </NavLink>
        </div>
    </nav>
</div>
