<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">e<span style="color:indianred">x</span>aminer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/">
                msht.ir
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/msht/msht_00.html" Match="NavLinkMatch.All">
                About
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/iLects.html" Match="NavLinkMatch.All">
                Lectures
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Login" Match="NavLinkMatch.All">
                Examiner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/iLang.html" Match="NavLinkMatch.All">
                Lang
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/iPortfolio.html" Match="NavLinkMatch.All">
                Portfolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/app_nexterm/NexTerm_00.html" Match="NavLinkMatch.All">
                NexTerm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/app_eLib/eLib_00.html" Match="NavLinkMatch.All">
                eLib
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/app_alamut/Alamut_00.html" Match="NavLinkMatch.All">
                alamut
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/app_iris/IRIS_00.html" Match="NavLinkMatch.All">
                iris
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://drive.google.com/file/d/1pPTDilV0xUa0WjhwnFHopoiH5ECHZ3gg/view" Match="NavLinkMatch.All">
                structurEasy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.msht.ir/app_residential/residential_00.html" Match="NavLinkMatch.All">
                Residential
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://drive.google.com/drive/folders/1UOY1HVgdd96mrSS-jcIiyVvMlNsHbJIw" Match="NavLinkMatch.All">
                Sampad
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://drive.google.com/drive/folders/1F2cELGPWeajhX7h2zhXOn3IHf0CTQo5z" Match="NavLinkMatch.All">
                Ponisha
            </NavLink>
        </div>
    </nav>
</div>
