@using ExaminerB.Service
@using System.ComponentModel.DataAnnotations
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<br />
<div style="text-align:left">
    <h3 style="color:royalblue">Quick Guide</h3>
    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
        <MudCard Class="mx-auto">
            <MudCardContent Style="background-color:rgba(249,249,249);">
                <h5>Excel columns to <span style="color:indianred">import</span> STUDENTS<br /></h5>
                <hr />
                <table class="table table-light">
                    <tr>
                        <th>column</th>
                        <th>header</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>UserName</td>
                        <td>Username (and default password) of the student by which they can login<br />username cannot be changedby the user (student)</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>Nickname</td>
                        <td>this is the display name of the student <br /> set it as 'name + surname' (default) <br /> display name can be changed by the student </td>
                    </tr>
                </table>
                <br />        
            </MudCardContent>
        </MudCard>
    </MudContainer>
</div>
@* <div style="text-align:left">
    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
        <MudCard Class="mx-auto">
            <MudCardContent Style="background-color:rgba(249,249,249);">
                <h5>Send <span style="color:indianred">message</span> to Students <br /></h5>
                <ul>
                    <li>
                        list students of a group, a course, an exam, ... or by search
                    </li>
                    <li>
                        select from students
                    </li>
                    <li>
                        click an action (in relevant menu)
                    </li>
                </ul>
            </MudCardContent>
        </MudCard>
    </MudContainer>
</div> *@
