@if (IsOpen)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal show d-block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <p>eLib: electronic Library</p>
                    <button class="btn-close" @onclick="Close"></button>
                </div>
                <div class="modal-body">
                    @ChildContent
                    <h2>Select an Exam</h2>
                    <div>
                        Course name: --- <br />
                        Exams:<br />
                        <select class="form-select" @bind="intExamId" style="width:95%; background-color:white">
                            <option value="0"> Select an Exam... </option>
                            @foreach (Exam exam in lstExams)
                                {
                                <option value="@exam.ExamId"> @exam.ExamTitle </option>
                                }
                        </select>
                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnReturnSelectExam (exam.ExamId)">
                            <img src="/img/icoSave1.png" width="22" />
                        </button>
                        <button class="btn btn-link" name="btnNewCourse" @onclick="BtnClose">
                            <img src="/img/icoCancel.png" width="20" />
                        </button>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <hr />
                        visit my website to download <span style="color:indianred">desktop</span> version of eLib<br />
                        <a href="http://www.msht.ir" target="_blank">msht.ir</a>
                    </div>
                    <div style="text-align:right">
                        <button class="btn btn-link" @onclick="BtnClose">
                            <img src="/img/gifBook.gif" width="40px" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    public int intExamId = 0;
    List<Exam> lstExams = new List<Exam> ();
    Exam exam = new Exam ();
    public bool IsOpen { get; set; } = true;
    public void Open() => IsOpen = true;
    public void Close() => IsOpen = false;
    //
    public void BtnReturnSelectExam(int examid)
        {
        //?
        }
    public void BtnClose()
        {
        IsOpen = false;
        }
}
