@page "/PortFolio"
@using ExaminerB.Service
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navman
@inject AppState appState
@inject HttpClient http
@inject FeService feService
@implements IDisposable

<br />
<section id="portfolioLogo" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
            <a class="btn btn-link" href="https://www.msht.ir/">
                <img src="/images/icoHome_grayt_1.png" width="80" style="margin-left:10px;margin-right:10px" />
            </a>
        </div>
        <h1 class=" mb-4">Examiner</h1>
      </div>
    </div>
  </div>
</section>

<div style="display: grid; place-items: center; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 20px;"> 
    <div>
        <a class="btn btn-link" href="/Login">
            <img src="/images/gifExam01.gif" width="110" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
    <div>
        <a class="btn btn-link" href="https://www.msht.ir/app_nexterm/NexTerm_00.html">
            <img src="/images/icoCalendar_gt_1.png" width="70" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
    <div>
        <a class="btn btn-link" href="https://www.msht.ir/app_eLib/eLib_00.html">
            <img src="/images/icoLaptop_bt_1.png" width="80" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
    <div>
        <a class="btn btn-link" href="https://www.msht.ir/app_alamut/Alamut_00.html">
            <img src="/images/icoDB_grayt_1.png" width="60" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
    <div>
        <a class="btn btn-link" href="https://www.msht.ir/app_iris/IRIS_00.html">
            <img src="/images/icoCalc_bluew_1.png" width="60" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
    <div>
        <a class="btn btn-link" href="https://www.msht.ir/msht/msht_00.html">
            <img src="/images/icoUser_bluet_1.png" width="80" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
    <div>
        <a class="btn btn-link" href="https://www.msht.ir/lsh/lsh_00.html">
            <img src="/images/icoUser_bluet_1.png" width="80" style="margin-left:10px;margin-right:10px" />
        </a>
    </div>
</div>
<hr />

@code {
    private bool _firstRender = true;
    private User user = new User { UserRole = "student" };
    //LifeCycleEvents
    protected override void OnInitialized()
        {
        appState.OnChange += TriggerRender;
        //appState.SetUserLoginStatus (0);
        appState.SetStudentTags (0);
        appState.SetUserName ("");
        sessionStorage.DeleteAsync("UserName");
        sessionStorage.DeleteAsync("UserId");
        sessionStorage.DeleteAsync("UserLoginStatus");
        sessionStorage.DeleteAsync("UserRole");
        sessionStorage.DeleteAsync("SelectedStudentTags");
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
}
