@using System.Globalization
@using System.Reflection
@inject FeService feService
@inject AppState appState;
@inject NavigationManager Navman
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (IsOpen)
    {
    Title = "New note";
    <div class="modal-backdrop fade show"></div>
    <div class="modal show d-block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    @* <button class="btn-close" @onclick="Close"></button> *@
                </div>
                <div class="modal-body">
                    @ChildContent
                    <div class="mt-3">
                        <span style="color:royalblue; font-weight:bold;">
                            @appState.NoteParentName
                        </span>
                        <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                            <MudCard Class="mx-0">
                                <MudCardContent Style="background-color:whitesmoke;">
                                    <MudDatePicker Label="Calendar تقويم" @bind-Date="_date" Culture="@GetPersianCulture()" DateFormat="yyyy-MM-dd" Variant="Variant.Outlined" Dense="true" />
                                    <MudTimePicker Label="Time ساعت" @bind-Time="_time" TimeFormat="HH:mm" Variant="Variant.Outlined" Dense="true"/>
                                    <MudTextField T="string" Label="Note" @bind-Value="note.NoteText" Variant="Variant.Text" Lines="10" AutoResize="true" Style=@($"width:100%;direction:{(note.IsRtl ? "rtl" : "ltr")};font-family:{(note.IsRtl ? "'Segoe UI'" : "'Courier New', Courier, monospace")};") />
                                        <MudCheckBox @bind-Value="note.IsRtl" Label="RTL" Color="Color.Primary"></MudCheckBox>
                                        <br />
                                        @if (appState.Cmd == "CreateNote")
                                            {
                                            <div style="text-align:center">
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="BtnCreateNote">Save note</MudButton>
                                                <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="BtnCancel">Cancel</MudButton>
                                            </div>
                                            }
                                        else if (appState.Cmd == "UpdateNote")
                                            {
                                            <div style="text-align:center">
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="BtnUpdateNote">Update note</MudButton>
                                                <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="BtnCancel">Cancel</MudButton>
                                            </div>
                                            }
                                </MudCardContent>
                            </MudCard>
                        </MudContainer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    public bool IsOpen { get; set; } = true;

    private MudTextField<string> refNoteText;
    private MudTextField<string> refSearchNote;

    User user = new User ();
    Note note = new Note();
    bool _hasFetched;
    string textDirection = "ltr";
    private DateTime? _date = DateTime.Now;
    private TimeSpan? _time = DateTime.Now.TimeOfDay;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        if(appState.Cmd == "UpdateNote")
            {
            note.NoteText = appState.NoteText;
            note.IsRtl = Convert.ToBoolean (appState.NoteIsRtl);
            note.ParentId = Convert.ToInt32 (appState.NoteParentId);
            note.ParentType = Convert.ToInt32 (appState.NoteParentType);
            note.ParentType = Convert.ToInt32 (appState.NoteParentType);
            }
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    public void Open() => IsOpen = true;
    private async Task Close()
        {
        if (OnClose.HasDelegate)
            {
            await OnClose.InvokeAsync();
            IsOpen = false;
            }
        }
    public void BtnClose()
        {
        appState.SetCmd("");
        IsOpen = false; //at top of page
        }
    //methods
    public async Task BtnCreateNote()
        {
        if (note.NoteText.Trim() == "")
            {
            Snackbar.Add("Note is empty!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            return;
            }
        else
            {
            //parentTypes 1:user(U) 2:subprojects(SP) 3:students(S) 4:groups(G) 5:courses(C) 6:exams(E)
            note.ParentId = Convert.ToInt32(appState.NoteParentId);
            note.ParentType = Convert.ToInt32(appState.NoteParentType);
            DateTime _dt = _date.Value.Date + _time.Value;
            note.NoteDatum = _dt.ToString ("yyyy-MM-dd HH:mm");
            _hasFetched = false;
            int result = await feService.Create_Note (note);
            if(result > 0)
                {
                Snackbar.Add("Saved", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                user.UserId = Convert.ToInt32(appState.UserId);
                appState.SetCmd("");
                await Close ();
                }
            else
                {
                Snackbar.Add("Failed to save note!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            _hasFetched = true;
            }
        }
    public async Task BtnUpdateNote()
        {
        if (note.NoteText.Trim() == "")
            {
            Snackbar.Add("Note is empty!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            return;
            }
        else
            {
            //parentTypes 1:user(U) 2:subprojects(SP) 3:students(S) 4:groups(G) 5:courses(C) 6:exams(E)
            note.NoteId = Convert.ToInt32(appState.SelectedNoteId);
            note.ParentId = Convert.ToInt32(appState.NoteParentId);
            note.ParentType = Convert.ToInt32(appState.NoteParentType);
            DateTime _dt = _date.Value.Date + _time.Value;
            note.NoteDatum = _dt.ToString ("yyyy-MM-dd HH:mm");
            _hasFetched = false;
            bool result = await feService.Update_Note (note);
            if(result)
                {
                Snackbar.Add("Updated", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                user.UserId = Convert.ToInt32(appState.UserId);
                appState.SetCmd("");
                Close ();
                }
            else
                {
                Snackbar.Add("Failed to Update note!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            _hasFetched = true;
            }
        }
    //calendar
    public CultureInfo GetPersianCulture()
        {
        var culture = new CultureInfo("fa-IR");
        DateTimeFormatInfo formatInfo = culture.DateTimeFormat;
        formatInfo.AbbreviatedDayNames = new[] { "ی", "د", "س", "چ", "پ", "ج", "ش" };
        formatInfo.DayNames = new[] { "یکشنبه", "دوشنبه", "سه شنبه", "چهار شنبه", "پنجشنبه", "جمعه", "شنبه" };
        var monthNames = new[]
        { "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند", "", };
        formatInfo.AbbreviatedMonthNames =
            formatInfo.MonthNames =
                formatInfo.MonthGenitiveNames = formatInfo.AbbreviatedMonthGenitiveNames = monthNames;
        formatInfo.AMDesignator = "ق.ظ";
        formatInfo.PMDesignator = "ب.ظ";
        formatInfo.ShortDatePattern = "yyyy-MM-dd";
        formatInfo.LongDatePattern = "yyyy-MM-dd dddd";
        formatInfo.FirstDayOfWeek = DayOfWeek.Saturday;
        Calendar cal = new PersianCalendar();
        FieldInfo fieldInfo = culture.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (fieldInfo != null)
            fieldInfo.SetValue(culture, cal);
        FieldInfo info = formatInfo.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (info != null)
            info.SetValue(formatInfo, cal);
        culture.NumberFormat.NumberDecimalSeparator = ".";
        culture.NumberFormat.DigitSubstitution = DigitShapes.NativeNational;
        culture.NumberFormat.NumberNegativePattern = 0;
        return culture;
        }
    public void BtnCancel()
        {    
        appState.SetCmd("");
        Close ();
        }
}
