@page "/T_Courses"
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

    <div style="text-align: center;">
        <h2 style="color:royalblue">Courses</h2>
    </div>
@if (!_hasFetched)
        {
        <_Loading />
        }
    else
        {
        <EditForm Model="lstCourses">
            <div class="accordion" style="max-width:600px; margin: 0 auto;" id="accordionCourses">
                 @foreach (Course crs in lstCourses)
                    {
                    var collapseId = $"collapse{crs.CourseId}";
                    if ((appState.CourseId ?? 0) != crs.CourseId)
                        {
                        clps = "collapse";
                        }
                    else
                        {
                        clps = "collapse show";
                        }
                    <div class="accordion-item mb-2">
                        <h6 class="accordion-header">
                            <button class="accordion-button collapsed"
                                type="button"
                                style="background-color:whitesmoke"
                                data-bs-toggle="collapse"
                                data-bs-target="#@collapseId"
                                aria-expanded="false"
                                aria-controls="@collapseId">
                                <h6>@crs.CourseName</h6>
                            </button>
                        </h6>
                        <div id="@collapseId" class="accordion-collapse @clps" data-bs-parent="#accordionCourses">
                            <div class="accordion-body" style="background-color:white">
                                <div id="T1">
                                    @if ((appState.Cmd == "EditCourse") && ((appState.CourseId) == crs.CourseId))
                                        {
                                        <MudContainer Class="mt-2 px-0">
                                            <MudCard Class="mx-0">
                                                <MudCardContent Style="background-color:whitesmoke;">
                                                    <div class="mb-3">
                                                        <MudTextField @ref="txtNewCourseName" @bind-Value="crs.CourseName" Label="Course name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                                    </div>
                                                    <div style="text-align:center">
                                                        <button class="btn btn-link" name="btnCourseId" @onclick="()=>BtnUpdateCourse(crs)" >
                                                            <img src="/img/icoSave2.png" width="22" />
                                                        </button>
                                                        <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                            <img src="/img/icoCancel.png" width="24" />
                                                        </button>
                                                    </div>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                        }
                                    else
                                        {
                                         <div style="text-align: center;">
                                            <button class="btn btn-link" title="rename course" @onclick="()=>BtnEditCourse(crs.CourseId)">
                                                <img src="/img/icoRename.png" width="30" />
                                            </button>
                                            <button class="btn btn-link" title="report tests" @onclick="()=>BtnListCourseTests(crs.CourseId, crs.CourseName)" >
                                                <img src="/img/icoFolderT.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" title="list tests" @onclick="()=>BtnReportCourseTests(crs.CourseId)" >
                                                <img src="/img/icoListT.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" title="list exams" @onclick="()=>BtnExams(crs)" >
                                                <img src="/img/icoListE.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" title="delete course" @onclick="()=>BtnDeleteCourse(crs)" >
                                                <img src="/img/icoDelete1.png" width="26" />
                                            </button>
                                            <br />
                                            <br />
                                        </div>
                                        //CourseTopics
                                        <div class="accordion" id="accordionTopicss">
                                            <div class="accordion-item mb-2">
                                                <h4 class="accordion-header">
                                                    <button class="accordion-button collapsed"
                                                        type="button"
                                                        style="background-color:gainsboro"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#topics"
                                                        aria-expanded="false"
                                                        aria-controls="topics">
                                                        <h6>Topics</h6>
                                                    </button>
                                                </h4>
                                            <div id="topics" class="accordion-collapse collapse" data-bs-parent="#accordionTopics">
                                                <div class="accordion-body" style="background-color:white">
                                                    @foreach (CourseTopic ct in crs.CourseTopics)
                                                        {
                                                        <MudContainer Class="mt-2 px-0">
                                                            <MudCard Class="mx-0">
                                                                <MudCardContent Style="background-color:whitesmoke;">
                                                                    <div class="mb-2">
                                                                    <MudTextField @bind-Value="ct.CourseTopicTitle" Label="Topic name" Variant="Variant.Outlined" Autocomplete="Autocomplete.Off" Margin="Margin.Dense" Class="my-textfield" Style="font-family: 'Segoe UI';" />
                                                                        <button class="btn btn-link" @onclick="()=>BtnListCourseTopicTests (ct)">
                                                                            <img src="/img/icoFolderT.png" width="26" />
                                                                        </button>
                                                                        <button class="btn btn-link" title="Report Tests" @onclick="()=>BtnReportCourseTopicTests(ct)" >
                                                                            <img src="/img/icoListT.png" width="34" />
                                                                        </button>
                                                                        <button class="btn btn-link" @onclick="()=>BtnUpdateCourseTopic (ct)">
                                                                            <img src="/img/icoSave2.png" width="22" />
                                                                        </button>
                                                                        <button class="btn btn-link" @onclick="()=>BtnDeleteCourseTopic (ct.CourseTopicId)">
                                                                            <img src="/img/icoDelete1.png" width="22" />
                                                                        </button>
                                                                    </div>
                                                                </MudCardContent>
                                                            </MudCard>
                                                        </MudContainer>
                                                        }
                                                @if ((appState.Cmd == "AddNewCourseTopic") && ((appState.CourseId) == crs.CourseId))
                                                    {
                                                    <MudContainer Class="mt-2 px-0">
                                                        <MudCard Class="mx-0">
                                                            <MudCardContent Style="background-color:whitesmoke;">
                                                                <h5 style="text-align:center;color:royalblue">Add New Course Topic</h5>
                                                                <div class="mb-3">
                                                                    <MudTextField @ref="txtNewCourseTopicTitle" @bind-Value="courseTopic.CourseTopicTitle" Label="New Topic" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                                                </div>
                                                                <div style="text-align:center">
                                                                    <button class="btn btn-link" @onclick="()=>BtnSaveNewCourseTopic(crs.CourseId)">
                                                                        <img src="/img/icoSave2.png" width="22" />
                                                                    </button>
                                                                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                                        <img src="/img/icoCancel.png" width="24" />
                                                                    </button>
                                                                </div>
                                                            </MudCardContent>
                                                        </MudCard>
                                                    </MudContainer>
                                                    }
                                                else
                                                    {
                                                    <div style="text-align:center;">
                                                        <button class="btn btn-link btn-sm" @onclick="()=>BtnAddNewCourseTopic(crs.CourseId)">
                                                            <img src="/img/icoAdd0.png" width="22" />
                                                        </button>
                                                    </div>
                                                    }
            			                        </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="color:red" />
                                    <h5>Folders</h5>
                                    //CourseFolders
                                    @foreach (CourseFolder cf in crs.CourseFolders)
                                        {
                                        <MudContainer Class="mt-2 px-0">
                                            <MudCard Class="mx-0">
                                                <MudCardContent Style="background-color:whitesmoke;">
                                                    <div class="mb-2">
                                                        <MudTextField @ref="txtNewCourseFolderTitle" @bind-Value="cf.CourseFolderTitle" Label="Folder title" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                                    </div>
                                                    <div class="mb-2">
                                                        <MudTextField @ref="txtNewCourseFolderUrl" @bind-Value="cf.CourseFolderUrl" Label="Folder url" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                                    </div>
                                                    <input class="form-inline border" @bind="cf.CourseFolderActive" type="checkbox" />
                                                    <label style="padding-right:5px;">Active</label>
                                                    <button class="btn btn-link" @onclick="()=>BtnUpdateCourseFolder (cf)">
                                                        <img src="/img/icoSave2.png" width="25" />
                                                    </button>
                                                    <button class="btn btn-link" @onclick="()=>BtnDeleteCourseFolder (cf.CourseFolderId)">
                                                        <img src="/img/icoDelete1.png" width="25" />
                                                    </button>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                        }
                                    @if ((appState.Cmd == "AddNewCourseFolder") && ((appState.CourseId) == crs.CourseId))
                                        {
                                        <MudContainer Class="mt-2 px-0">
                                            <MudCard Class="mx-0">
                                                <MudCardContent Style="background-color:whitesmoke;">
                                                    <h5 style="color:royalblue;text-align:center">Add New Web Folder:</h5>
                                                    <div class="mb-2">
                                                        <MudTextField @ref="txtNewCourseFolderTitle" @bind-Value="courseFolder.CourseFolderTitle" Label="Folder title" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                                    </div>
                                                    <div class="mb-2">
                                                        <MudTextField @ref="txtNewCourseFolderUrl" @bind-Value="courseFolder.CourseFolderUrl" Label="Folder url" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                                    </div>
                                                    <div style="text-align:center">
                                                        <input class="form-inline border" @bind="courseFolder.CourseFolderActive" type="checkbox" />
                                                        <label style="padding-right:5px;">Active</label>
                                                        <button class="btn btn-link" @onclick="()=>BtnSaveNewCourseFolder(crs.CourseId)">
                                                            <img src="/img/icoSave2.png" width="22" />
                                                        </button>
                                                        <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                            <img src="/img/icoCancel.png" width="24" />
                                                        </button>
                                                    </div>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudContainer>
                                        }
                                    else
                                        {
                                        <div style="text-align:center;">
                                            <button class="btn btn-link btn-sm" @onclick="()=>BtnAddNewCourseFolder(crs.CourseId)">
                                                <img src="/img/icoAdd0.png" width="22" />
                                            </button>
                                        </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    @if (appState.Cmd == "AddNewCourse")
                        {
                        <MudContainer>
                            <h5 style="color:royalblue">Add New Course</h5>
                            <MudCard Class="mx-0">
                                <MudCardContent Class="d-flex" Style="background-color:whitesmoke;">
                                    <MudTextField @ref="txtNewCourseName" @bind-Value="course.CourseName" Label="Cousre name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                                        <button class="btn btn-link" name="btnNewCourse" @onclick="BtnSaveNewCourse">
                                            <img src="/img/icoSave2.png" width="24" />
                                        </button>
                                        <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                            <img src="/img/icoCancel.png" width="24" />
                                        </button>
                                </MudCardContent>
                            </MudCard>
                        </MudContainer>
                        }
                    else
                        {
                        <button class="btn btn-link" @onclick="BtnAddNewCourse">
                            <img src="/img/icoAdd1.png" width="30" />
                        </button>
                        }
                    <hr style="color:red" /> 
                    <div style="text-align:center">
                        <button class="btn btn-link" @onclick= "BtnBack">
                            <img src="/img/icoBack3.png" style="width:40px" />
                        </button>
                    </div>
             </div>
        </EditForm>
        }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    private Dictionary<int, ElementReference> inputRefs = new Dictionary<int, ElementReference>();
    private ElementReference btnCourseId; 
    //private ElementReference txtNewCourseName; 
    private MudTextField<string> txtNewCourseName;
    private MudTextField<string> txtNewCourseTopicTitle; 
    private MudTextField<string> txtNewCourseFolderTitle; 
    private MudTextField<string> txtNewCourseFolderUrl; 
    public User user = new User ();
    public Course course = new Course ();
    public CourseTopic courseTopic = new CourseTopic ();
    public CourseFolder courseFolder = new CourseFolder ();
    public List<Course> lstCourses = new ();
    public List<CourseTopic> lstCourseTopics = new ();
    public string cmd = "";
    public string clps = "";
    public bool _hasFetched = false;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {

            Navman.NavigateTo ("/Login");
            }
        user.UserId = Convert.ToInt32(appState.UserId);
        cmd = appState.Cmd ?? "";
        if( user.UserId >0)
            {
            lstCourses = await feService.Read_Courses (user.UserId);
            _hasFetched = true;
            }
        } 
    private async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender && course?.CourseTopics?.Any() == true)
            {
            //only runs: Page loaded + Data exists + list Not empty
            foreach (var ct in course.CourseTopics)
                {
                if (!inputRefs.ContainsKey(ct.CourseTopicId))
                    {
                    inputRefs[ct.CourseTopicId] = inputRefs.GetValueOrDefault(ct.CourseTopicId);
                    }
                }
            }
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //Course
    public async Task BtnAddNewCourse()
        {
        appState.SetCmd ("AddNewCourse");
        StateHasChanged ();
        await Task.Delay(1); //let element be available, then focus on it.
        await txtNewCourseName.FocusAsync ();
        }
    public async Task BtnSaveNewCourse()
        {  
        course.UserId = user.UserId;
        course.CourseUnits = 2;
        course.CourseRtl = true;
        int result = await feService.Create_Course (course);
        if (result>0)
            {
            //await JS.InvokeVoidAsync ("alert", "\nCourse name chnaged!");
            //refresh list then refresh page
            lstCourses = await feService.Read_Courses (user.UserId);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            Snackbar.Add($"Course did not created", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public void BtnEditCourse(int courseId)
        {
        appState.SetCmd ("EditCourse");
        appState.SetCourseId (courseId);
        StateHasChanged ();
        }
    public async Task BtnUpdateCourse(Course course)
        {
        bool result = await feService.Update_Course (course);
        if (result)
            {
            //await JS.InvokeVoidAsync ("alert", "\nCourse name chnaged!");
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            Snackbar.Add("Course name did not changed!", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            //await JS.InvokeVoidAsync ("alert", "Course name did not changed --- process failed");
            }
        }
    public async Task BtnDeleteCourse(Course course)
        {
        var message = new MarkupString($"<span style='color:indianred'>Warning:</span> Several related data may be deleted! <br><ul><li> Tests</li><li>Exams</li><li>Student Exams</li><li>...</li><br>Continue? <hr style=color:blue><span style='color:indianred'>Delete </span> <strong>( {course.CourseName} )</strong>?<hr style=color:blue>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
            {
            if(await JS.InvokeAsync<bool>("confirm", "Last warning: \n\nAre you sure? Delete?"))
                {
                bool result = await feService.Delete_Course (course.CourseId);
                if (result)
                    {
                    lstCourses = await feService.Read_Courses (user.UserId);
                    appState.SetCmd ("");
                    StateHasChanged ();
                    }
                }                        
            }
        }
    public void BtnExams(Course course)
        {
        appState.SetCourseId (course.CourseId);
        appState.SetCourseName (course.CourseName);
        Navman.NavigateTo ("/T_Exams");
        }
    public void BtnReportCourseTests(int courseId)
        {    
        appState.SetCmd ("coursetests");
        appState.SetCourseId (courseId);
        appState.SetReturnPage ("/T_Courses");
        Navman.NavigateTo ("/T_ReportTests");
        }
    public void BtnListCourseTests(int courseId, string courseName)
        {
        appState.SetCmd ("ListCourseTests");
        appState.SetCourseId (courseId);
        appState.SetCourseName (courseName);
        Navman.NavigateTo ("/T_CourseTests");
        }
    //CourseTopic
    public void BtnAddNewCourseTopic(int courseId)
        {
        appState.SetCmd ("AddNewCourseTopic");
        appState.SetCourseId (courseId);
        StateHasChanged ();
        }
    public async Task BtnSaveNewCourseTopic(int courseId)
        {
        courseTopic.CourseId = courseId;
        courseTopic.CourseTopicTitle = courseTopic.CourseTopicTitle;
        int result = await feService.Create_CourseTopic (courseTopic);
        if (result>0)
            {
            Snackbar.Add("Course Topic Created!", Severity.Success); //Severity.Warning .Error | .Info | .Success
            //old code: await JS.InvokeVoidAsync ("alert", "\nCourse name chnaged!");
            lstCourses = await feService.Read_Courses (user.UserId);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            Snackbar.Add($"Course Topic did not changed", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }        
        }
    public async Task BtnUpdateCourseTopic(CourseTopic courseTopic)
        {
        bool result = await feService.Update_CourseTopic (courseTopic);
        if (result)
            {
            await inputRefs[courseTopic.CourseTopicId].FocusAsync();
            StateHasChanged ();
            //needs: @inject ISnackbar Snackbar
            Snackbar.Add("Course Topic Updated Successfully!", Severity.Success); //Severity.Warning .Error | .Info | .Success
            }
        }
    public async Task BtnDeleteCourseTopic(int courseTopicId)
        {
        //needs: @inject ISnackbar Snackbar
        Snackbar.Add("This feature is not available at this time.", Severity.Warning); //Severity.Warning .Error | .Info | .Success
        //old code: await JS.InvokeVoidAsync ("alert", "Topics can not be Deleted \n\n-- This feature is not available at this time.");
        }
    public void BtnListCourseTopicTests(CourseTopic courseTopic)
        {
        appState.SetCmd ("ListCourseTopicTests");
        appState.SetCourseId (courseTopic.CourseId);
        appState.SetCourseTopicId (courseTopic.CourseTopicId);
        Navman.NavigateTo ("/T_CourseTests");
        }
    public void BtnReportCourseTopicTests(CourseTopic courseTopic)
        {
        appState.SetCmd ("coursetopictests");
        appState.SetCourseTopicId (courseTopic.CourseTopicId);
        appState.SetReturnPage ("/T_Courses");
        Navman.NavigateTo ("/T_ReportTests");
        }

    //CourseFolder
    public void BtnAddNewCourseFolder(int courseId)
        {
        appState.SetCmd ("AddNewCourseFolder");
        appState.SetCourseId (courseId);
        StateHasChanged ();
        }
    public async Task BtnSaveNewCourseFolder(int courseId)
        {
        _hasFetched = false;
        courseFolder.CourseId = courseId;
        int result = await feService.Create_CourseFolder (courseFolder);
        if (result>0)
            {
            lstCourses = await feService.Read_Courses (user.UserId);
            appState.SetCmd ("");
            appState.SetCourseId (courseId);
            StateHasChanged ();
            }
        else
            {
            Snackbar.Add($"CourseFolder did not saved", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }        
        appState.SetCourseId (courseId);
        _hasFetched = true;
        }
    public async Task BtnUpdateCourseFolder(CourseFolder courseFolder)
        {
        _hasFetched = false;
        bool result = await feService.Update_CourseFolder (courseFolder);
        if (result)
            {
            //await inputRefs[courseFolder.CourseFolderId].FocusAsync();
            lstCourses = await feService.Read_Courses (user.UserId);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        _hasFetched = true;
        }
    public async Task BtnDeleteCourseFolder(int courseFolderId)
        {var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> <strong>(Course Folder Link: {courseFolderId})</strong>?<br>Are you sure?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
            {
            _hasFetched = false;
            bool result = await feService.Delete_CourseFolder (courseFolderId);
            if (result)
                {
                lstCourses = await feService.Read_Courses (user.UserId);
                appState.SetCmd ("");
                StateHasChanged ();
                }
            _hasFetched = true;            
            }
        }
    public void BtnUpdateCourseFolderActiveInPlace(CourseFolder courseFolder, int flag , bool isChecked)
{
    
}   
//Back
    public void BtnCancel()
        {
        appState.SetCmd ("");
        }
    public void BtnBack()
        {
        appState.SetCmd ("");
        Navman.NavigateTo ("/T_SwitchBoard");
        }
}
