@page "/T_SwitchBoard"
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navman
@inject AppState appState
@implements IDisposable

<div class="container">
    <div style="text-align: center;">
        <div style="text-align: center;">
            <h2 style="color:gray">e<span style="color:indianred">x</span>aminer<span style="font-style:italic;font-size:small;color:royalblue"> WebApp </span> <span style="font-style:italic;font-size:small;color:indianred"> - @appState.UserRole </span></h2>
        </div>
        <br/>
        <h5 style="color:royalblue">@appState.UserNickname</h5>
        <br/>
        <hr style="color:red" />
        <br />
        <EditForm FormName="f" Model="user">
            <table class="table table-borderless">
                <tr style="text-align:center;">
                    <td>
                        <button type="submit" class="btn btn-link" @onclick="GotoGroupsStudents">
                            <img src="/images/gifGroup5.gif" width="80" />
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-link" @onclick="GotoCourses">
                            <img src="/images/gifBook3.gif" width="75" />
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-link" @onclick="GotoProjects">
                            <img src="/images/gifNotes01.gif" width="80" />
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-link" @onclick="GotoLogin">
                            <img src="/images/gifLogout01.gif" style="height:100px; width:165px" />
                        </button>
                    </td>
                </tr>
            </table>
            <br />
            <hr style="color:red" />
        </EditForm>
    </div>
</div>

@code 
{
    private bool _firstRender = true;
    User user = new User ();
    //LifeCycleEvents
    protected override async Task OnInitializedAsync ()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            
            Navman.NavigateTo ("/Login");
            }
        appState.SetCmd ("");
        } 
    protected async Task OnAfterRenderAsync()
        {
        var result1 = await sessionStorage.GetAsync<string> ("UserName");
        Console.WriteLine ("result1.Value: " + result1.Value);
        if (result1.Success)
            {
            appState.SetUserName (result1.Value);
            user.UserName = appState.UserName;
            StateHasChanged ();
            }
        if (_firstRender)
            {
            _firstRender = false;
            var result = await sessionStorage.GetAsync<int> ("UserLoginStatus");
            if (result.Success && result.Value == 1)
                {
                appState.SetUserLoginStatus (1);
                Console.WriteLine ("T_SwitchBoard: UserLoginStatus= " + appState.UserLoginStatus);
                appState.SetUserLoginStatus (result.Value);
                }
            else
                {
                Navman.NavigateTo ("/Login");
                }
            }
        }
    private void TriggerRender() 
        {
        InvokeAsync(StateHasChanged); 
        } 
    public void Dispose() 
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    //methods
    public void GotoLogin()
        {
        Navman.NavigateTo ("/Login");
        }
    public void GotoGroupsStudents ()
        {
        Navman.NavigateTo ("/T_Students");
        }
    public void GotoCourses ()
        {
        Navman.NavigateTo ("/T_Courses");
        }
    public void GotoProjects ()
        {
        Navman.NavigateTo ("/E_Projects");
        }
}
